In [199]:
import os
import sys
paths = {
    'helpers': '/home/spadela/mids-w210-capstone'
}
for k,v in paths.items():
    sys.path.insert(0, v)
    
import requests
import pandas as pd
import numpy as np
import datetime
from copy import deepcopy

from bs4 import BeautifulSoup

### Set Up Mongo Connection
from db import dbToolsMongo
db = dbToolsMongo()

import time
import urllib.parse

pd.set_option('display.max_columns', 500)

%reload_ext autoreload
%autoreload 2

In [200]:
# Delete all records with price = 0 or source = null
db.db.sp_price_history.delete_many({"price": {"$lte": 0.0}})
db.db.sp_price_history.delete_many({"source": None})

df1 = db.toDF('sp_price_history')
df1['close_date'] = df1['close_date'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))
df1 = df1.drop_duplicates(subset=['name','close_date'])
df1.sort_values(by=['name','close_date']).head()

,_id,close_date,name,price,source,symbol
6148,5b4278f057c41009c0b628e8,2018-05-24,AB-CHAIN,0.05845,CryptoCompare,RTB
6149,5b4278f057c41009c0b628e9,2018-05-25,AB-CHAIN,0.07280,CryptoCompare,RTB
6150,5b4278f057c41009c0b628ea,2018-05-26,AB-CHAIN,0.07287,CryptoCompare,RTB
6151,5b4278f057c41009c0b628eb,2018-05-27,AB-CHAIN,0.07206,CryptoCompare,RTB
6152,5b4278f057c41009c0b628ec,2018-05-28,AB-CHAIN,0.05735,CryptoCompare,RTB

In [201]:
x = db.toDF('sp_price_history',filters={'name': 'EOS'}).sort_values(by='close_date')
x.head()

                          _id  close_date name  price         source symbol
0    5b42789157c41009c0b610d5  2017-06-29  EOS  0.850  CryptoCompare    EOS
1    5b42789157c41009c0b610d6  2017-06-30  EOS  0.912  CryptoCompare    EOS
746  5b4a3be057c410184dd6f1d1  2017-07-01  EOS  1.010  CoinMarketCap    EOS
2    5b42789157c41009c0b610d7  2017-07-01  EOS  1.050  CryptoCompare    EOS
3    5b42789157c41009c0b610d8  2017-07-02  EOS  3.000  CryptoCompare    EOS

In [206]:
def compute_key_dates(df,intervals):
    key_dates = df[['name','close_date']].groupby(['name']).agg('min').reset_index().fillna(datetime.datetime(2099,12,31,0,0))
    for i,d in enumerate(intervals):
        if i == 0:
            key_dates['d0'] = key_dates['close_date']
        else:
            key_dates['d'+str(d)] = key_dates['d0'].apply(lambda x: x + datetime.timedelta(days=int(d)))
            key_dates['d'+str(d)] = key_dates['d'+str(d)].apply(lambda x: datetime.datetime(2018,7,8,0,0) if x > datetime.datetime(2018,7,8,0,0) else x)
        
    return key_dates.drop(columns=['close_date'])

In [219]:
df2 = df1[['name']].drop_duplicates()
intervals = [0,7,14,30,90,180]
key_dates = compute_key_dates(df1,intervals)
df2 = pd.merge(df2,key_dates,how='left').drop_duplicates()
# add prices
for d in intervals:
    df2 = pd.merge(df2,df1,left_on=['name','d'+str(d)],right_on=['name','close_date'],how='left').fillna(0)
    df2['p'+str(d)] = df2['price']
    if d > 0:
        df2['pch'+str(d)] = df2.apply(lambda x: np.round(x['p'+str(d)]*1.0/x['p0']-1,2),axis=1)
        df2['y'+str(d)] = df2.apply(lambda x: 1 if x['pch'+str(d)] <= -0.5 else 0,axis=1)
    df2 = df2.drop(columns=['price','_id','source','close_date','symbol'])
df2.head()

,name,d0,d7,d14,d30,d90,d180,p0,p7,pch7,y7,p14,pch14,y14,p30,pch30,y30,p90,pch90,y90,p180,pch180,y180
0,PATRON,2018-05-22,2018-05-29,2018-06-05,2018-06-21,2018-07-08,2018-07-08,0.068146,0.083290,0.22,0,0.052920,-0.22,0,0.039430,-0.42,0,0.027960,-0.59,1,0.027960,-0.59,1
1,Sentinel Protocol,2018-07-05,2018-07-08,2018-07-08,2018-07-08,2018-07-08,2018-07-08,0.057510,0.062690,0.09,0,0.062690,0.09,0,0.062690,0.09,0,0.062690,0.09,0,0.062690,0.09,0
2,Blockchain Traded Fund,2018-06-12,2018-06-19,2018-06-26,2018-07-08,2018-07-08,2018-07-08,33.590000,3.050000,-0.91,1,1.450000,-0.96,1,2.560000,-0.92,1,2.560000,-0.92,1,2.560000,-0.92,1
3,EOS,2017-06-29,2017-07-06,2017-07-13,2017-07-29,2017-09-27,2017-12-26,0.850000,3.230000,2.80,0,1.710000,1.01,0,1.810000,1.13,0,0.631400,-0.26,0,8.600000,9.12,0
4,Fitrova,2018-05-11,2018-05-18,2018-05-25,2018-06-10,2018-07-08,2018-07-08,0.004725,0.008666,0.83,0,0.002871,-0.39,0,0.000115,-0.98,1,0.000015,-1.00,1,0.000015,-1.00,1

In [221]:
db.db['sp_price_features'].delete_many({})
db.db['sp_price_features'].insert_many(df2.to_dict('records'))

In [224]:
db.toDF('sp_price_features')[['name','d0','p0','d7','p7','pch7','y7','d30','p30','pch30','y30']]

,name,d0,p0,d7,p7,pch7,y7,d30,p30,pch30,y30
0,PATRON,2018-05-22,0.068146,2018-05-29,0.083290,0.22,0,2018-06-21,0.039430,-0.42,0
1,Sentinel Protocol,2018-07-05,0.057510,2018-07-08,0.062690,0.09,0,2018-07-08,0.062690,0.09,0
2,Blockchain Traded Fund,2018-06-12,33.590000,2018-06-19,3.050000,-0.91,1,2018-07-08,2.560000,-0.92,1
3,EOS,2017-06-29,0.850000,2017-07-06,3.230000,2.80,0,2017-07-29,1.810000,1.13,0
4,Fitrova,2018-05-11,0.004725,2018-05-18,0.008666,0.83,0,2018-06-10,0.000115,-0.98,1
5,RAcoin,2017-12-07,2.860000,2017-12-14,3.470000,0.21,0,2018-01-06,5.030000,0.76,0
6,The Abyss,2018-06-07,0.075560,2018-06-14,0.048080,-0.36,0,2018-07-07,0.033420,-0.56,1
7,Skrumble Network,2018-05-10,0.096480,2018-05-17,0.081565,-0.15,0,2018-06-09,0.046710,-0.52,1
8,Paymon,2018-06-07,0.003233,2018-06-14,0.003654,0.13,0,2018-07-07,0.002771,-0.14,0
9,HashGains,2018-06-21,0.047320,2018-06-28,0.035760,-0.24,0,2018-07-08,0.039620,-0.16,0
10,BitRewards,2016-05-05,0.039830,2016-05-12,0.227000,4.70,0,2016-06-04,0.008270,-0.79,1
11,Robotina,2015-01-27,0.000329,2015-02-03,0.000316,-0.04,0,2015-02-26,0.000473,0.44,0
12,Holo,2018-04-30,0.000768,2018-05-07,0.001513,0.97,0,2018-05-30,0.001026,0.34,0
13,Telegram Open Network,2017-11-15,0.003305,2017-11-22,0.003801,0.15,0,2017-12-15,0.006829,1.07,0
14,ALAX,2018-06-26,0.025786,2018-07-03,0.025850,0.00,0,2018-07-08,0.028660,0.11,0
15,Morpheus Network,2018-05-22,0.403338,2018-05-29,0.603457,0.50,0,2018-06-21,0.291300,-0.28,0
16,Lendingblock,2018-05-01,0.030969,2018-05-08,0.024872,-0.20,0,2018-05-31,0.011910,-0.62,1
17,GoChain,2018-06-13,0.023339,2018-06-20,0.027954,0.20,0,2018-07-08,0.076970,2.30,0
18,Node,2015-01-26,0.000167,2015-02-02,0.000291,0.75,0,2015-02-25,0.000501,2.00,0
19,iOlite,2015-03-06,0.011630,2015-03-13,0.004389,-0.62,1,2015-04-05,0.001184,-0.90,1
20,On.Live,2018-06-06,0.118800,2018-06-13,0.115800,-0.03,0,2018-07-06,0.093950,-0.21,0
21,Eligma,2018-07-04,0.018280,2018-07-08,0.026520,0.45,0,2018-07-08,0.026520,0.45,0
22,Amon,2018-05-03,0.063218,2018-05-10,0.021871,-0.65,1,2018-06-02,0.017890,-0.72,1
23,EQUI,2017-08-15,0.154000,2017-08-22,0.151300,-0.02,0,2017-09-14,0.120000,-0.22,0
24,AB-CHAIN,2018-05-24,0.058450,2018-05-31,0.056570,-0.03,0,2018-06-23,0.028810,-0.51,1
25,BitRent,2018-03-25,0.039864,2018-04-01,0.033484,-0.16,0,2018-04-24,0.063310,0.59,0
26,ClearCoin,2018-07-02,0.006172,2018-07-08,0.006334,0.03,0,2018-07-08,0.006334,0.03,0
27,Sentinel Chain,2018-04-02,0.065278,2018-04-09,0.067963,0.04,0,2018-05-02,0.191600,1.94,0
28,Cappasity,2017-12-06,0.033000,2017-12-13,0.016290,-0.51,1,2018-01-05,0.390000,10.82,0
29,PHI Token,2018-04-25,0.597172,2018-05-02,0.405752,-0.32,0,2018-05-25,0.261292,-0.56,1
...,...,...,...,...,...,...,...,...,...,...,...
319,PARAGON,2017-10-26,0.649578,2017-11-02,0.407589,-0.37,0,2017-11-25,0.288069,-0.56,1
320,HERO,2018-05-22,0.340502,2018-05-29,0.497733,0.46,0,2018-06-21,0.124523,-0.63,1
321,Smartlands,2018-01-25,0.197061,2018-02-01,2.630000,12.35,0,2018-02-24,0.628151,2.19,0
322,LAToken,2017-10-25,0.282686,2017-11-01,0.130348,-0.54,1,2017-11-24,0.186823,-0.34,0
323,Ethbet,2017-10-07,0.262683,2017-10-14,0.094654,-0.64,1,2017-11-06,0.060849,-0.77,1
324,EventChain,2017-11-29,0.166089,2017-12-06,0.063739,-0.62,1,2017-12-29,0.220338,0.33,0
325,ZILLA,2018-02-03,0.077260,2018-02-10,0.383249,3.96,0,2018-03-05,0.239855,2.10,0
326,ICOS,2017-10-23,45.870000,2017-10-30,53.210000,0.16,0,2017-11-22,54.190000,0.18,0
327,Aventus,2017-09-06,4.400000,2017-09-13,2.480000,-0.44,0,2017-10-06,3.030000,-0.31,0
328,NEXUS,2015-01-25,0.004313,2015-02-01,0.001573,-0.64,1,2015-02-24,0.003120,-0.28,0
329,MONETHA,2017-09-06,0.285338,2017-09-13,0.218856,-0.23,0,2017-10-06,0.141843,-0.50,1
330,STeX,2017-06-06,0.164574,2017-06-13,0.364360,1.21,0,2017-07-06,0.257460,0.56,0
331,TARGET COIN,2017-09-29,0.041777,2017-10-06,0.024754,-0.41,0,2017-10-29,0.019646,-0.53,1
332,BlockCDN,2017-12-06,0.076062,2017-12-13,0.079269,0.04,0,2018-01-05,0.216088,1.84,0
333,CORION,2017-10-13,0.791170,2017-10-20,1.020000,0.29,0,2017-11-12,0.654171,-0.17,0
334,DENT,2017-08-12,0.000634,2017-08-19,0.001475,1.33,0,2017-09-11,0.000389,-0.39,0
335,NEVERDIE,2017-08-09,0.201827,2017-08-16,0.216108,0.07,0,2017-09-08,0.148287,-0.27,0
336,SkinCoin,2017-07-21,0.036790,2017-07-28,0.026827,-0.27,0,2017-08-20,0.032022,-0.13,0
337,Encrypgen,2017-11-20,0.057851,2017-11-27,0.066596,0.15,0,2017-12-20,0.305378,4.28,0
338,OmiseGO,2017-07-14,0.582480,2017-07-21,0.753032,0.29,0,2017-08-13,6.940000,10.91,0
339,BLOCKPOOL,2017-11-09,0.277201,2017-11-16,0.235723,-0.15,0,2017-12-09,0.192616,-0.31,0
340,Sonm,2017-06-16,0.521798,2017-06-23,0.131131,-0.75,1,2017-07-16,0.031526,-0.94,1
341,Ethbits,2017-06-01,2.190000,2017-06-08,3.080000,0.41,0,2017-07-01,0.000000,-1.00,1
342,TaaS,2017-03-30,0.819872,2017-04-06,0.886302,0.08,0,2017-04-29,0.000000,-1.00,1
343,GNOSIS,2014-09-17,0.001154,2014-09-24,0.001400,0.21,0,2014-10-17,0.000546,-0.53,1
344,Qtum,2017-05-24,6.190000,2017-05-31,4.860000,-0.21,0,2017-06-23,16.990000,1.74,0
345,Wings,2017-01-11,0.021388,2017-01-18,0.027485,0.29,0,2017-02-10,0.069197,2.24,0
346,Golem,2018-06-14,0.392986,2018-06-21,0.361935,-0.08,0,2018-07-08,0.350903,-0.11,0
347,DECENT,2016-12-10,0.110000,2016-12-17,0.103813,-0.06,0,2017-01-09,0.141416,0.29,0
348,ICONOMI,2016-09-30,0.267674,2016-10-07,0.444327,0.66,0,2016-10-30,0.124068,-0.54,1

                          name  close_date
0                       PATRON         NaN
46           Sentinel Protocol  2018-07-05
50      Blockchain Traded Fund  2018-06-12
77                         EOS         NaN
452                    Fitrova         NaN
498                     RAcoin  2017-12-07
712                  The Abyss         NaN
744           Skrumble Network         NaN
779                     Paymon         NaN
807                  HashGains  2018-06-21
825                 BitRewards  2016-05-05
1620                  Robotina  2015-01-27
2879                      Holo         NaN
2914     Telegram Open Network  2017-11-15
3150                      ALAX         NaN
3161          Morpheus Network         NaN
3199              Lendingblock         NaN
3247                   GoChain         NaN
3260                      Node  2015-01-26
4520                    iOlite  2015-03-06
5741                   On.Live  2018-06-06
5774                    Eligma  2018-07-04
5779                      Amon         NaN
5820                      EQUI  2017-08-15
6148                  AB-CHAIN  2018-05-24
6194                   BitRent         NaN
6270                 ClearCoin  2018-07-02
6277            Sentinel Chain         NaN
6347                 Cappasity         NaN
6562                 PHI Token         NaN
...                        ...         ...
86620                  PARAGON        None
87030                     HERO        None
87532               Smartlands        None
88955                  LAToken        None
89460                   Ethbet        None
90275               EventChain        None
90496                    ZILLA        None
92039                     ICOS        None
93128                  Aventus        None
94265                    NEXUS        None
95795                  MONETHA        None
96356                     STeX        None
96752              TARGET COIN        None
97227                 BlockCDN        None
97441                   CORION        None
100131                    DENT        None
101494                NEVERDIE        None
102142                SkinCoin        None
102843               Encrypgen        None
103352                 OmiseGO        None
103741               BLOCKPOOL        None
105082                    Sonm        None
106986                 Ethbits        None
107812                    TaaS        None
108699                  GNOSIS        None
109353                    Qtum        None
109763                   Wings        None
112446                   Golem        None
112476                  DECENT        None
113611                 ICONOMI        None

[349 rows x 2 columns]

In [33]:
df1[['name','close_date']].groupby(['name']).agg('min')

                       close_date
name
AB-CHAIN               2018-05-24
ALAX                          NaN
ARK                    2017-03-22
ATFS Project           2018-05-05
ATLANT                        NaN
AdEx                   2017-07-01
AdHive                       None
Adbank                        NaN
Aditus                       None
Adshares                      NaN
Aeron                         NaN
AidCoin                       NaN
AirSwap                2017-08-23
AirToken               2017-08-25
Amon                          NaN
Angel Token            2017-12-28
Anryze                 2017-11-17
AppCoins                      NaN
Artemine               2017-11-08
Astronaut              2017-11-16
Auctus                       None
Authoreon              2018-04-11
Aventus                2018-07-07
BABB                          NaN
BANKEX                        NaN
BIOTRON                      None
BLOCKPOOL              2018-07-07
BMChain                2018-03-05
Bankera                       NaN
Basic Attention Token  2017-06-01
...                           ...
Utrum                        None
VIBEHub                2017-10-11
VeriME                       None
Verify                        NaN
Vezt                          NaN
Viberate               2017-10-08
Vice Industry Token    2018-04-18
Viuly                         NaN
WAX                          None
WaBi                          NaN
Wagerr                 2017-07-06
WandX                         NaN
WePower                       NaN
Wild Crypto            2017-09-12
Wings                  2018-07-07
Wolk                   2017-11-01
Worldcore                     NaN
Wysker                 2018-07-08
ZILLA                  2018-07-07
Zebi                         None
Zeepin                        NaN
Zephyr                       None
ZrCoin                 2015-03-01
aXpire                        NaN
carVertical                  None
fidentiaX                     NaN
iEx.ec                 2017-04-20
iOlite                 2015-03-06
indaHash                     None
invacio                      None

[349 rows x 1 columns]

In [24]:
df1[['name','close_date']].groupby(['name']).agg('min').reset_index()['name']

0                   AB-CHAIN
1                       ALAX
2                        ARK
3               ATFS Project
4                     ATLANT
5                       AdEx
6                     AdHive
7                     Adbank
8                     Aditus
9                   Adshares
10                     Aeron
11                   AidCoin
12                   AirSwap
13                  AirToken
14                      Amon
15               Angel Token
16                    Anryze
17                  AppCoins
18                  Artemine
19                 Astronaut
20                    Auctus
21                 Authoreon
22                   Aventus
23                      BABB
24                    BANKEX
25                   BIOTRON
26                 BLOCKPOOL
27                   BMChain
28                   Bankera
29     Basic Attention Token
               ...
319                    Utrum
320                  VIBEHub
321                   VeriME
322                   Verify
323                     Vezt
324                 Viberate
325      Vice Industry Token
326                    Viuly
327                      WAX
328                     WaBi
329                   Wagerr
330                    WandX
331                  WePower
332              Wild Crypto
333                    Wings
334                     Wolk
335                Worldcore
336                   Wysker
337                    ZILLA
338                     Zebi
339                   Zeepin
340                   Zephyr
341                   ZrCoin
342                   aXpire
343              carVertical
344                fidentiaX
345                   iEx.ec
346                   iOlite
347                 indaHash
348                  invacio
Name: name, Length: 349, dtype: object

In [ ]:
df1['tot_pct_chg'] = df1.apply(lambda x: )

In [ ]:
result = db['ico_subreddit'].find({})

data = []
for i,row in enumerate(result):
    data.append(row)
    
new_master = pd.DataFrame(data)
new_master.head()

In [ ]:
df2 = pd.merge(df1,new_master,how='inner',indicator=True)
df2.groupby(['_merge']).agg('count')

In [ ]:
result = db['ico_tracker'].find({})

data = []
for i,row in enumerate(result):
    data.append(row)
    
new_master = pd.DataFrame(data)
new_master.head()

In [ ]:
df1[df1['symbol'] == 'SOUL'].sort_values(by='close_date')